node_modules
.next
.git
.gitignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.env.*
!.env.example
.trail
trail-data
.erme
coverage
.DS_Store
Thumbs.db
*.sqlite
*.sqlite-wal
*.sqlite-shm
*.db
*.key
*.age
*.gpg
*.pem
